.profileContainer {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    margin: 7em;
    justify-content: space-evenly;
}

#userLogo {
    width: 100px;
    height: 100px;
    display: flex;
    top: 15em;
}
.userInformation {
    width: 20vw;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid red;
}
.userInformation:hover{
    bottom: 5px;
    border-bottom: black 2px solid;
}

.userMovie {
    width: 40vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid red;
}