
.home{
    height: 100vh;
    background-image: url(https://i.ibb.co/BVFxyB6/image.png);
    
}

.card{
    width: 150px;
    height: 70vh;
    display: flex;
    justify-content: center;
    bottom: 1px;
    
}