.header{
    width: 100vw;
    height: 15vh;
    min-height: 2em;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
}

.logoContainer{
    align-items: center;
    width: 50vw;
    height: 1.5em;
    min-height: 1em;
}

.logo{
    height: 2em;
    width: 100%;
    background-image: url(../../images/logo_rental_movies.svg);
    background-repeat: no-repeat;
    display: inline-block;
    
}